body {
  background: #0e7e12;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 500px;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}
.card:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 90px;
}

.card:after {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 90px;
}

.number {
  position: absolute;
  top: 43%;
  width: 90%;
  text-align: center;
  font-size: 90px;
}

.spade:before,
.spade:after {
  content: "\2660";
}

.club:before,
.club:after {
  content: "\2663";
}

.heart:before,
.heart:after {
  content: "\2665";
  color: red;
}

.diamont:before,
.diamont:after {
  content: "\2666";
  color: red;
}
